@import "../../common/stylus/variable"
@import "../../common/stylus/mixin"
.hot
  display:-moz-box
  display:-webkit-box
  display:box;
  li
    border:1px solid $color-border
    width:245px
    height:360px
    -moz-box-flex:1.0
    -webkit-box-flex:1.0
    box-flex:1.0;
  li:nth-child(2)
    width:625px
    margin:0 30px
