@import "../../common/stylus/variable"
@import "../../common/stylus/mixin"
.recommend
  .recomPic
    float:left
    display:inline
    width:420px
    height:360px
    margin-right:9px
    overflow :hidden
  .recomProduct
    li
      float:left
      width:245px
      height:320px
      border:1px solid $color-border
      margin-left:10px
      padding-top :40px
      overflow :hidden
      p
        display:block
        font-size :$font-size-large-x
        color :$color-background-menu
        text-align :center
        line-height 30px;
        img
          width :236px
          height :189px
        span
          text-decoration: line-through
          color :#767676
          font-size :$font-size-small
      p.but
        width :180px
        height :33px
        line-height :33px
        text-align :center
        margin :0 auto
        background :$color-background-menu
        color :$font-color-ffffff
        font-size :$font-size-small
      strong
        display:block
        text-align :center
        border-bottom :1px dotted #cccccc
        font-size :$font-size-large
        padding : 0 5px
        line-height :40px

