@import "../../common/stylus/variable"
@import "../../common/stylus/mixin"
.homebox
  .banner
    background: $color-banner-background
    height: 500px
    width:100%
    margin-bottom:50px
  .adv
    height:430px

.serverBox
  width:1200px
  margin:0 auto
  li
    float:left
    display:inline
    width:377px
    height:339px
    margin:0 31px 35px 0
    border: 1px solid #ccc
    overflow:hidden
  li:nth-child(3n)
    margin-right:0px
    float:right
.serverNotice
  font-size :16px
  color :#898989
  line-height :30px
  margin-bottom :20px
