// 颜色定义规范
$color-background = #222
$color-background-nav = #2b2b2b
$color-background-menu = #a40e31
$color-banner-background = #e8e7e5
$color-border = #eaeaea
$color-footer-bg = #000000
$color-footer-border-top = #424242
$color-connect = #000
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-26 = 26px
//字体颜色
$font-color-header = #a3a3a3
$font-color-ffffff = #ffffff
$font-color-title = #9b9b9b
$font-color-titleH3 = #ff6637
$font-color-font01 = #666666
